$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

.DataPanel {
  .panel-block {
    border-top: none;
  }  
  .panel-heading {
    font-size: 1.4em;
    padding: 0.3em 0.75em;
  }
  .toolbox {
    position: relative;
    display: flex;
    justify-content: center;
    @media (min-width: $breakpoint-tablet) {
      float: right;
      margin: 0;
    }
    .field {
      margin-top: 6px;
      @media (min-width: $breakpoint-tablet) {
        margin-top: 0;
      }
      .button {
        padding-bottom: 1px; /* default calc(0.375em - 1px) */
        padding-left: calc(0.625em - 1px);
        padding-right: calc(0.625em - 1px);
        padding-top: calc(0.375em - 1px);        
        .mdi {
          font-size: 1rem;
        }
      }    
    }
  }
  .breadcrumb {
    a {
     padding: 0;
     padding-right: 4px; 
    }
    .elipses {
      padding: 0 6px;
    }
    li {
          color: blue
    }
    li + li::before {
      content: ' >> ';
      white-space: pre;      
    }
    li + li::after {
      content: '';
      white-space: pre;      
    }
  }
}
