
@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/bulma-tooltip/dist/bulma-tooltip.sass";
@import "../../node_modules/noty/lib/noty.css";

$fa-font-path: "../fonts/font_awesome"; /* set font-awesome font path */
@import "../../node_modules/font-awesome/scss/font-awesome.scss";

/* CSS styles for SimpleMDE markdown editor */
@import "../../node_modules/simplemde/dist/simplemde.min.css";

@import "material_design_icons.scss";
@import "spinners.scss";

@import "help.scss";
@import "search.scss";
@import "scan.scss";
@import "print.scss";

body {
    font-family: sans-serif;
}

/* app-global stuff BEGIN */

.content-area {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}


.post-hero-area {
    padding-top: 40px;
}


/*
  A full-width bar at bottom of screent 
  that does not overlay content.
  Used for e.g. "you are disconnected"
  notifications that cannot be hidden
  by any user action.
*/
.persistent-notify {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;

    color: $white;
    font-size: 18px;
    background-color: $primary;

    /* create the bulma is-* variants */
    @each $pair in $colors {
        $colorname: nth($pair, 1);
        $color: nth(nth($pair, 2), 1);
        
        &.is-#{$colorname} {
            background-color: $color;
        }
    }
   
    .hcenter {
        position: absolute;
        margin: 0 auto;
        top: 50%;
        transform: translate(0, -50%);
        width: 100%;
        text-align: center;
    }
}


.hint {
  position: relative;
  display: block;
  font-size: 0.75rem;
  margin-top: -0.5rem;
  margin-left: 0.2rem; 
  color: #777777;
}

.hint .hint-text {
  position: relative;
  float: left;
}

.hint .hint-label {
  float: left;
  margin-right: 0.3rem;
}

.hint p {
  margin: 0;
  padding: 0;
}

.hint p.other {
  margin: 0;
  margin-top: -0.2rem;
  padding: 0;
}


.float-clear {
  clear: both;
}
                              
/* app global stuff END */

