.MapGrid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  border: 1px solid black;
  .columns {
    border-bottom: 1px solid black;
    &.grid {
      margin: 0;
    }
    .column {
      border-right: 1px solid black;
      padding-top: 100%;
      &:last-child {
        border-right: none;
      }
      .cell {
        position: relative;
        display: block;
        width: 100%;
        padding-top: 100%;
        &:hover { 
          background-color: lightblue; 
        }
        .cell-location {
          position: absolute;
          width: 100%;
          top: calc(50% - 0.75em);
          text-align: center;
        }
      }
    }
  }
}