.MapGrid {
  // width: 100%;
  // height: auto;
  // border: 1px solid #dbdbdb;
  // border-top: none;
  .grid-container {
    display: grid;
    width: 100%;
    // border: 1px solid #ccc;
    border-top: none;
    min-height: 80vh;
    .grid-item {
      border: 1px solid #ccc;
      &:hover { background-color: whitesmoke; }
    }  
  }
}