$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

.MapGrid {
  width: 100%;
  height: auto;
  // border: 1px solid #dbdbdb;
  // border-top: none;
  background-color: #dbdbdb;
  .grid-container {
    display: grid;
    // border: 1px solid #ccc;
    // margin: 0 auto;
    width: 100%;
    border-top: none;
    min-height: 40vh;
    @media (min-width: $breakpoint-tablet) {
      min-height: 80vh;
    }    
    .grid-item {
      background-color: white;
      border: 1px solid #bbb;
      overflow: hidden; 
      &.active { background-color: lightblue; }
      &:hover { background-color: whitesmoke; }
      &:hover.active { background-color: whitesmoke; }
      .grid-item-label {
        align-self: center;
        text-align: center;
        color: #333;
        white-space: nowrap;
        overflow: hidden;
        padding: 3px;
      }
      .empty.grid-item-label {
        font-size: 1.6vmin;
        color: #ccc;
      }
    }
    .empty.grid-item {
      border: 1px solid #ededed;
      overflow: hidden;
      &:hover { background-color: white; }
    }    
  }
}