
.search-results {
  padding-top: 20px;
  padding-bottom: 20px;
}

.search-results .columns {
  padding: 10px;
}

.search-results .column {
  border-radius: 5px;
}

.search-results .icons {
  float: right;
}

.search-results .left {
  background-color: #cbdcda;
}

.pagination ul {
  list-style-position: none;
  list-style-type: none;
}