.search-results {
  margin-top: 12px;
}

.search-result {
  .columns {
    width: 100%;
  }    
}

.pagination ul {
  list-style-position: none;
  list-style-type: none;
}


/* Desktop */
@media (min-width: 1024px) { 
	.search-results {
		max-width: 50%;
	}
}